@font-face {
  font-family: 'KronaOne';
  src: local('KronaOne'), local('KronaOne-Regular'), font_url('KronaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Sans-Caption-Web';
  src: local('PT_Sans-Caption-Web'), local('PT_Sans-Caption-Web-Regular'), font_url('PT_Sans-Caption-Web-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo';
  src: local('Baloo'), local('Baloo-Regular'), font_url('Baloo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DrSugiyama';
  src: local('DrSugiyama'), local('DrSugiyama-Regular'), font_url('DrSugiyama-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ruthie';
  src: local('Ruthie'), local('Ruthie-Regular'), font_url('Ruthie-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}